  *{
    font-family: "Open Sans", sans-serif;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin: 15px 0;
  }
  
  .card_all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    width: 200px;
    /* height: 400px; */
  }
  
  .card_all img {
    width: 100%; 
    height: 200px;
    object-fit: contain;
  }
  
  .card_all h4 {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card_all h5{
    margin-top: -6px;
  }
  
  .card_all p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: -20px;
    font-size: 12px;
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn4 button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
  }